<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>alamofire_swift3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5BBA0A281FEBB7B8006BC32E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BBA0A3C1FEBB7B8006BC32E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BBA0A471FEBB7B8006BC32E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
